<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      collection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa0pU5mjE6fumgM_v7T-ysPfGbKuy4av4zgg&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOZShRdAGW49kyh_DIf9aMTNl4gLzlMeDCJg&usqp=CAU" alt="">
  <div id="box">
  <div>Nihusneeyah Niha</div>
  <div>Kasma Watee</div>
  <div>Nuryeehan Cheuma</div>
</div>


</ion-content>
